* {
font-family: 'Sen', sans-serif;
image-rendering: pixelated;
user-select: none;
}
html,body {
height: 100%;
margin: 0;
background-color: #303036;
}
#app {
display: flex;
height: 97%;
}
#unboxingwrapper {
width: 70%;
height: 100%;
background-color: #303036;
}
#homewrapper {
width: 70%;
height: 100%;
background-color: #303036;
color: white;
}
#levelwrapper {
width: 70%;
height: 100%;
background-color: #303036;
color: white;
}
#settingswrapper {
width: 70%;
height: 100%;
background-color: #303036;
color: white;
}
#tradeupswrapper {
width: 70%;
height: 100%;
background-color: #303036;
color: white;
}
.topbarcontainer {
  height: 3%;
}
#topbar {
width:100%;
background-color: #050116;
padding-top: 5px;
padding-bottom: 5px;
height: 100%;
}
#homelink {
padding-left: 5px;
}
#navwrapper {
float: left;
}
.navbaritems {
display: inline-block;
padding-right: 10px;
transition: 0.4s;
color: white;
}
.navbaritems:hover {
text-shadow: 1px 1px 10px #FCA17D, -1px -1px 10px #FCA17D, 1px 1px 10px #FCA17D, -1px -1px 10px #FCA17D;
cursor: pointer;
}
#reelcontainer {
background-color:#303036;
padding-top: 10px;
padding-bottom: 10px;
overflow: hidden;
}
#entrycontainer {
background-image: linear-gradient(45deg, rgba(35, 35, 31, 0.3), rgba(35, 35, 31, 0.8));
border: 1px solid #050401;
position: relative;
transition: 0.75s;
}
#entries {
display: flex;
flex-wrap:nowrap;
padding-top: 5px;
padding-bottom: 5px;
position: relative;
vertical-align: baseline;
transition: transform 6s;
transition-timing-function: cubic-bezier(.31,.9985,.31,.9985); /* Special thanks to @banned#7691 for helping with the points on the bezier curve! */
}
.entries {
float: left;
display: flex;
color: white;
overflow: hidden;
border-radius: 3px;
height: 20px;
z-index 1;
transition: 0.5s;
}
#entry1 {
background-image: linear-gradient(45deg, rgba(144, 193, 63, 0.3), rgba(144, 193, 63, 0.8)); /* Light Green */
width:40%;
min-width: 40%;
}
#entry2 {
background-image: linear-gradient(45deg, rgba(72, 114, 43, 0.3), rgba(72, 114, 43, 0.8)); /* Green */
width:25%;
min-width: 25%;
}
#entry3 {
background-image: linear-gradient(45deg, rgba(0, 110, 144, 0.3), rgba(0, 110, 144, 0.8)); /* Blue */
width:15%;
min-width: 15%;
}
#entry4 {
background-image: linear-gradient(45deg, rgba(98, 70, 107, 0.3), rgba(98, 70, 107, 0.8)); /* Purple */
width:10%;
min-width: 10%;
}
#entry5 {
background-image: linear-gradient(45deg, rgba(219, 76, 64, 0.3), rgba(219, 76, 64, 0.8)); /* Orange */
width:8%;
min-width: 8%;
}
#entry6 {
background-image: linear-gradient(45deg, rgba(191, 26, 47, 0.3), rgba(191, 26, 47, 0.8)); /* Red */
width:1.5%;
min-width: 1.5%;
}
#entry7 {
background-image: linear-gradient(45deg, rgba(99, 99, 87, 0.3), rgba(99, 99, 87, 0.8)); /* Black */
width:0.5%;
min-width: 0.5%;
}
#reeltick {
width: 1px;
height: 100%;
position: absolute;
background: #fff;
top: 0;
bottom: 0;
left: 0;
right: 0;
margin: auto;
z-index: 5;
}
#lastunboxicon {
  width: 64px;
  padding: 10px;
}
.lastunbox {
background-image: linear-gradient(135deg, rgba(48, 48, 54, 0.95), rgba(48, 48, 54, 1));
}
#lastunboxingwrapper {
padding: 10px;
text-align: center;
}
#settingslink {
float: right;
}
#navwrapper:hover {
cursor: pointer;
}
#unboxingfooter {
position: relative;
}
#casebuttonswrapper {
position: relative;
text-align: center;
background-color: #303036;
padding: 20px;
}
#casebuybutton {
color: white;
display: inline-block;
width:auto;
transition: 0.5s;
}
#casebuybutton:hover {
text-shadow: 1px 1px 10px #DDDDDD, -1px -1px 10px #DDDDDD, 1px 1px 10px #DDDDDD, -1px -1px 10px #DDDDDD;
cursor: pointer;
}
#caseopenbutton {
color: white;
display: inline-block;
width: auto;
transition: 0.5s;
}
#caseopenbutton:hover {
text-shadow: 1px 1px 10px #DDDDDD, -1px -1px 10px #DDDDDD, 1px 1px 10px #DDDDDD, -1px -1px 10px #DDDDDD;
cursor: pointer;
}
#casebuybuttonwrapper {
display: inline-block;
width:auto;
}
#caseopenbuttonwrapper {
display: inline-block;
width: auto;
margin-right: 20px;
}
.casebuttons {
border: 1px solid green;
background-color: #5BB864;
padding-left: 10px;
padding-right: 10px;
padding-top: 5px;
padding-bottom: 5px;
width: 100%;
text-align: center;
}
#moneyamount {
display: inline-block;
color: white;
float: right;
padding-right: 10px;
}
#boxes {
background-color: #303036;
text-align: center;
height: 100%;
}
.boxicons {
padding: 10px;
width: 96px;
transition: 0.75s;
}
.boxicons:hover {
cursor: pointer;
}
#lastunboxname {
font-size: small;
color: #BDBBB0;
}
#lastunboxflavortext {
font-size: x-small;
font-style: italic;
color: #BDBBB0;
}
#casename {
color: #BDBBB0;
}
.inventorymain {
text-align: center;
height: 90%;
overflow-y: scroll;
overflow-x: hidden;
}
.inventorycontainer {
float: right;
width: 30%;
background-color: #28282D;
height: 97%;
}
.inventoryheader {
border: 1px solid #121212;
background-color: #303036;
color: white;
font-size: small;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-between;
padding: 5px;
}
#inventoryslotsfilledcount {
display: flex;
}
#inventory {
display: flex;
flex-wrap: wrap;
width: 100%;
}
.inventoryslots {
padding: 5px;
position: relative;
color: white;
}
#getmoneybutton {
color: white;
float: right;
background-color: #0C4712;
transition: 0.5s;
}
#getmoneybutton:hover {
cursor: pointer;
background-color: #0E5615;
}
.itempriceoverlay {
position: absolute;
left:0;
bottom:0;
font-size: x-small;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #303036;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1F1F23;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1F1F23;
}
.inventoryfooter {
height: 10%;
background-color: #28282D;
}
.homedata {
color: #3D3D3D;
font-size: small;
}
.homeheader {
color: #636363;
font-size: large;
}
a:link, a:visited {
  color: #636363;
  text-decoration: underline;
  cursor: pointer;
}
